body{
  padding-top: 70px;
}

img.i {
  display: block;
  margin: 10px auto;
}

img.img-zoom{
  cursor: pointer;
}

div.service-alert{
  margin-top: 10px;
}

img#zoom_image{
  margin-bottom: 15px;
}

.link-domain {
	font-size: 1.4em;	
	color: #660066;
}
.link-host {
	font-size: 1.1em;
	color: #800080;
}
ul.groupview, ul.groupview ul {
	list-style-type: none;
}
.munin-icon {
   background: url(../img/logo-munin.png) left top; 
   margin-top: -6px;
   width: 35px; 
   height: 35px;
   display: block;
   float: left;
}
