<TMPL_INCLUDE NAME="partial/head.tmpl">

    <ul>
      <TMPL_LOOP NAME="GROUPS">
        <li>
          <a href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
          <ul>
            <TMPL_IF NAME="NCATEGORIES">
              <TMPL_LOOP NAME="CATEGORIES">
                <li>
                  <a href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                  <ul>
                    <TMPL_LOOP NAME="SERVICES">
                      <li><a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></li>
                    </TMPL_LOOP>
                  </ul>
                </li>
              </TMPL_LOOP>
            </TMPL_IF>
            <TMPL_IF NAME="NGROUPS">
              <TMPL_LOOP NAME="GROUPS">
                <li>
                  <a href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                  <ul>
                    <TMPL_IF NAME="NCATEGORIES">
                      <TMPL_LOOP NAME="CATEGORIES">
                        <li>
                          <a href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                          <ul>
                            <TMPL_LOOP NAME="SERVICES">
                              <li><a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></li>
                            </TMPL_LOOP>
                          </ul>
                        </li>
                      </TMPL_LOOP>
                    </TMPL_IF>
                    <TMPL_IF NAME="NGROUPS">
                      <TMPL_LOOP NAME="GROUPS">
                          <li>
                            <a href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                            <ul>
                              <TMPL_IF NAME="NCATEGORIES">
                                <TMPL_LOOP NAME="CATEGORIES">
                                  <li>
                                    <a href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                                    <ul>
                                      <TMPL_LOOP NAME="SERVICES">
                                        <li><a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></li>
                                      </TMPL_LOOP><!-- END SERVICES -->
                                    </ul>
                                  </li>
                                </TMPL_LOOP><!-- END CATEGORIES -->
                              </TMPL_IF>
                            <TMPL_IF NAME="NGROUPS">
                            </TMPL_IF>
                            </ul>
                          </li>
                      </TMPL_LOOP><!-- END GROUPS Listing level 3 -->
                    </TMPL_IF><!-- END NGROUPS level 3 -->
                  </ul>
                </li>
              </TMPL_LOOP><!-- END GROUPS Listing level 2 -->
            </TMPL_IF><!-- END NGROUPS level 2 -->
          </ul>
        </li>
      </TMPL_LOOP><!--END GROUPS Listing level 1 -->
    </ul>
    <div class="contentpusher"></div>

<TMPL_INCLUDE NAME="partial/footer.tmpl">
