<TMPL_INCLUDE NAME="partial/head.tmpl">

    <!-- Alerts -->
    <TMPL_IF NAME="NUNKNOWN">
      <div class="alert alert-info">Il y a <a href="<TMPL_VAR NAME="R_PATH">/problems.html#unknowns"><TMPL_VAR NAME="NUNKNOWN"> problème(s) inconnu(s).</a></div>
    </TMPL_IF>
    <TMPL_IF NAME="NCRITICAL">
      <div class="alert alert-danger">Il y a <a href="<TMPL_VAR NAME="R_PATH">/problems.html#critical"> <TMPL_VAR NAME="STATE_CRITICAL"> problème(s) critique(s).</a></div>
    </TMPL_IF>
    <TMPL_IF NAME="NWARNING">
      <div class="alert alert-warning">Il y a <a href="<TMPL_VAR NAME="R_PATH">/problems.html#warnings"><TMPL_VAR NAME="NWARNING"> avertissement(s).</a></div>
    </TMPL_IF>

    <ul class="groupview">
    <TMPL_LOOP NAME="GROUPS">
		<TMPL_UNLESS NAME="MULTIGRAPH">
		  <li  <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
			  <span class="glyphicon glyphicon-folder-open"></span>
			  <a href="<TMPL_VAR NAME="URL">" class="link-domain"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
			  <TMPL_IF NAME="COMPARE"> [
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">jour</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">semaine</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">mois</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">année</a> ]
				</TMPL_IF>
				<TMPL_IF NAME="NCATEGORIES">[
          <TMPL_LOOP NAME="CATEGORIES">
            <a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
          </TMPL_LOOP> ]
        </TMPL_IF>
			  <ul>
          <TMPL_LOOP NAME="GROUPS">
            <TMPL_UNLESS NAME="MULTIGRAPH">
              <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
		<span class="glyphicon glyphicon-chevron-right"></span>
                <a href="<TMPL_VAR NAME="URL">" class="link-host"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                <TMPL_IF NAME="COMPARE"> [
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">jour</a>
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">semaine</a>
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">mois</a>
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">année</a> ]
                </TMPL_IF>
                <TMPL_IF NAME="NCATEGORIES">[
                  <TMPL_LOOP NAME="CATEGORIES">
                    <a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                  </TMPL_LOOP>]
                </TMPL_IF>
                <ul>
                  <TMPL_LOOP NAME="GROUPS">
                    <TMPL_UNLESS NAME="MULTIGRAPH">
                      <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
                      <a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                      <TMPL_IF NAME="COMPARE">
                        <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">jour</a>
                        <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">semaine</a>
                        <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">mois</a>
                        <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">année</a> ]
                      </TMPL_IF>
                      <TMPL_IF NAME="NCATEGORIES">[
                        <TMPL_LOOP NAME="CATEGORIES">
                          <a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                        </TMPL_LOOP>]
                      </TMPL_IF>
                      <ul>
                        <TMPL_LOOP NAME="GROUPS">
                          <TMPL_UNLESS NAME="MULTIGRAPH">
                            <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
                            <a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                            <TMPL_IF NAME="COMPARE"> [
                              <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">jour</a>
                              <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">semaine</a>
                              <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">mois</a>
                              <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">année</a> ]
                            </TMPL_IF>
                            <TMPL_IF NAME="NCATEGORIES">[
                              <TMPL_LOOP NAME="CATEGORIES">
                                <a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                              </TMPL_LOOP> ]
                            </TMPL_IF>
                          </TMPL_UNLESS>
                        </TMPL_LOOP>
                      </ul>
                  </TMPL_UNLESS></TMPL_LOOP>
                </ul>
              </li>
            </TMPL_UNLESS>
          </TMPL_LOOP>
			  </ul>
		  </li>
		</TMPL_UNLESS>
	</TMPL_LOOP>
    </ul>
    <div class="contentpusher"></div>

<TMPL_INCLUDE NAME="partial/footer.tmpl">
